#!/usr/bin/env python
# -*- coding: utf-8 -*-

from celery.schedules import crontab

DEBUG = False

# 微信公众平台配置
APP_ID = ""
APP_SECRET = ""
TOKEN = ""
EncodingAESKey = ""

# 数据库
SQLALCHEMY_DATABASE_URI = ""

# celery 配置
CELERY_BROKER_URL = 'redis://localhost:6379',
CELERY_RESULT_BACKEND = 'redis://localhost:6379'
CELERY_TIMEZONE = 'Asia/Shanghai'
CELERYBEAT_SCHEDULE = {
    'every-10-min-at-8-to-22': {
        'task': 'express.update',
        'schedule': crontab(minute='*/10', hour='8-22')
    },
}

# simsimi key
SIMSIMI_KEY = ''

# requests 代理
HTTP_PROXIES = {
    "http": "http://user:pass@ip:port/",
}

# 微信模板通知 ID
SIGN_TEMPLATE_ID = ""

# 素材库图片 ID
THUMB_MEDIA_ID = ""
