<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <meta content="telephone=no" name="format-detection" />
        <title>广科小喵</title>
        <link rel="stylesheet" href="../static/styles/weui.min.css" />
        <link rel="stylesheet" href="../static/styles/auth.css" />
        <script type="text/javascript">
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?{{ baidu_analytics }}";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>

    <body ontouchstart>
        <div class="page">
            <div class="page__hd">
                <h1 class="page__title">{{ title }}</h1>
                <p class="page__desc">{{ desc }}</p>
            </div>
            <div class="page__bd">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">{{ username_label }}</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="username" type="text" placeholder="{{ username_label_placeholder }}"/>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="password" type="password" placeholder="{{ password_label_placeholder }}"/>
                        </div>
                    </div>
                </div>

                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">确定</a>
                </div>

                <div class="weui-msg__extra-area">
                    <div class="weui-footer weui-footer_fixed-bottom">
                        <p class="weui-footer__links"><a href="http://www.gxgk.cc/" class="weui-footer__link">莞香广科</a></p>
                        <p class="weui-footer__text">Copyright &copy; 2012-2016 gxgt.cc</p>
                    </div>
                </div>

                <div class="weui-toptips weui-toptips_warn js_tooltips">{{ username_label }}或密码不能为空</div>

                <div id="loadingToast" style="display:none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <i class="weui-loading weui-icon_toast"></i>
                        <p class="weui-toast__content">拼命绑定中</p>
                    </div>
                </div>

                <div class="js_dialog" id="iosDialog1" style="display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__hd"><strong class="weui-dialog__title">绑定失败</strong></div>
                        <div class="weui-dialog__bd" id="err_msg"></div>
                        <div class="weui-dialog__ft">
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
                        </div>
                    </div>
                </div>

                <div class="weui-msg page msg"  style="display: none;">
                    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">绑定成功</h2>
                        <p class="weui-msg__desc">左上角「返回」公众号查看结果</p>
                    </div>
                    <!--在这个只展示几秒的结果页面写页脚可能是没有意义的-->
                    <!--                    <div class="weui-msg__extra-area">
                                            <div class="weui-footer weui-footer_fixed-bottom">
                                                <p class="weui-footer__links"><a href="http://www.gxgk.cc/" class="weui-footer__link">莞香广科</a></p>
                                                <p class="weui-footer__text">Copyright &copy; 2012-2016 gxgk.cc</p>
                                            </div>
                                        </div>-->
                </div>
            </div>
        </div>
        <script src="../static/scripts/zepto.min.js"></script>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
            var jsapi = {'timestamp': 1480187452, 'nonceStr': 'EQ5NCWT4OQ2LJA5A', 'signature': 'f16da90a925901be5e46b9311430a8d809b09408', 'jsApiList': ['hideAllNonBaseMenuItem'], 'appId': 'wx8703c0de5603e9ac'};
            jsapi['debug'] = false;
            wx.config(jsapi);
            wx.ready(function () {
                wx.hideAllNonBaseMenuItem();
            });
        </script>
        <script src="../static/scripts/auth.js"></script>
    </body>
</html>
